$mobile: 480.5px;
$tablet: 768.5px;

@mixin media-breakpoint-down($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin media-breakpoint-up($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

[id^="gridSquare"] {
  aspect-ratio: 1;
}
